/* Animaciones */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header h1, section h2 {
    animation: fadeInLeft 1s ease-out;
}

section p {
    opacity: 0;
    animation: fadeIn 2s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

section p:hover {
    color: #E57373;
    transform: scale(1.05);
    transition: color 0.3s, transform 0.3s;
}

/* Asegúrate de que la animación se ejecute una vez cuando la página cargue */
body {
    animation: fadeIn 0.5s ease-out;
}
